input[type]{
	color:yellow;
}
input[type="text"]{
	color:red;
}
input[type="number"]{
	color:blue;
}
a[href]{
	background-color: pink;

}
h3{
	background-color:gray;
}
img[src]{
	height:30px;
	width:40px;
}